* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scrollbar-color: $text-light white;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    font-family: "Gilroy Regular", "Georgia", sans-serif;
    font-size: 16px;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    width: 100%;
}

img:not([width]) {
    aspect-ratio: attr(width) / attr(height);
}